// Imports
@import '_colours';
@import '_fonts';

.contact-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: dotted 1px $black;
    padding: 100px 197px;
}

h3 {
    color: $black;
    margin-bottom: 50px;
    font-weight: 100;
    font-family: $heading;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-blob {
    background: $white;
    border: solid $green 2px;
}

@media screen and (max-width: 800px){}
@media screen and (min-width: 800px){}