/* Font Imports */
/* Space Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/* CSS Rules */
/* font-family: 'Space Grotesk', sans-serif; */
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* CSS Rules */
/* font-family: 'Inter', sans-serif; */

/* Style Guide */

/* Black -  #080009 */
/* Purple - #B67EFF */
/* White - #FFF9E9 */
/* Green -  #006C4A */


* {
  margin: 0;
  padding: 0;
}

.mb-2 {
  margin-bottom: 20px;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(0deg, rgba(182,126,255,1) 35%, rgba(255,249,233,1) 100%);
  background-repeat: no-repeat;
  overflow: hidden;
}

body.no-scroll {
  overflow-y: hidden;
}

.wrapper{
  width: 100vw;
  height: 80vh;

  overflow-y: scroll;
}

label {
  display: block;
}

a {
  text-decoration: none;
}

/* Headings */
h1 {
  font-size: 40px;
}

h2 {
  color: #080009;
  margin-bottom: 20px;
  font-weight: 100;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 40px;
}

h3 {
  font-size: 36.5px;
}

h4 {
  font-size: 31.5px;
}

h5 {
  font-size: 22.5px;
}

/* nav */

#menu {
  width: 75%;
  padding-right: 30px;
}

#menu-button {
  float: right;
}

#topnav {
  background: transparent;
  display: flex;
  align-items: center;
  padding: 20px;
}

#topnav a {
  color: #080009;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  margin-top: 50px;
  display: inline-block;
  font-family: 'Space-Grotesk', sans-serif;
  font-weight: bold;
} 

#navlogo {
  width: 200px;
  height: 150px;
}

#button-container {
  width: 50%;
}

/* buttons */
button {
  background: none;
  border: none;
  display: block;
}

button:hover {
  cursor: pointer;
}

/* mobile */

#mobile-menu {
  width: 100%;
  height: 100%;
  background-color: #B67EFF ;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 25%;
}

#mobile-menu a {
  color: #FFF9E9;
  text-decoration: none;
  font-size: 30px;
  display: block;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Space Grotesk', sans-serif;
} 

#mobile-menu a:hover {
  color: #080009;
}

#close-nav-menu {
  z-index: 2;
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 53px;
  color: white;
}

#close-nav-menu:hover {
  color: #080009;
}

#menu {
  display: none;
}

#menu-container {
  width: 100%;
}

#topnav a:hover {
  color: #8797e5;
}

#menu a:hover {
  color: #080009;
}

#donatebtn {
  color: #080009;
}

/* icons */

#hamburger-icon {
  color: #080009;
  font-size: 33px;
  position: relative;
  top: 2px;
}

#cart {
  color: #080009;
  font-size: 33px;
  position: relative;
  top: 2px;
}

/* Media queries */
@media screen and (min-width: 780px) {
  h1 {
    font-size: 60px;
  }
  #menu {
    display: block;
    width: 75%;
  }
  #menu li {
    display: inline-block;
  }
  #menu-container {
    display: none;
  }
}

/* Pages */

#resource-container {
  margin: 50px;
}

#single-resource {
  margin: 50px;
}

#shop-page {
  margin: 50px;
  display: grid;
  column-gap: 15px;
}

#post-container {
  margin: 50px;
  display: grid;
}

#home-cont {
  margin: 15px;
  padding: 15px;
}

#about-cont, #about-us {
  margin: 0px;
  display: grid;
  align-items: center;
  justify-content: center;
}

#about-body {
  padding: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
}
